<h3>Tank Status</h3>
<div class="item">
	<div class="itemLabel">
		Этикетка Бака:
	</div>
	<div class="itemContent">
		<div style="float: left; width: 180px;">{{:data.name}}</div> {{:helper.link('Relabel', 'pencil', {'relabel' : 1}, data.canLabel ? null : 'disabled')}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Давление внутри:
	</div>
	<div class="itemContent">
		{{:data.tankPressure}} kPa
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Состояние порта:
	</div>
	<div class="itemContent">
		{{:data.portConnected ? '<span class="good">Подключен</span>' : '<span class="average">Отключен</span>'}}
	</div>
</div>

<h3>Статус резервуара</h3>
{{if data.hasHoldingTank}}
	<div class="item">
		<div class="itemLabel">
			Этикетка Бака:
		</div>
		<div class="itemContent">
			<div style="float: left; width: 180px;">{{:data.holdingTank.name}}</div> {{:helper.link('Извлечь', 'eject', {'remove_tank' : 1})}}
		</div>
	</div>

	<div class="item">
		<div class="itemLabel">
			Давление внутри:
		</div>
		<div class="itemContent">
			{{:data.holdingTank.tankPressure}} kPa
		</div>
	</div>
{{else}}
	<div class="item"><span class="average"><i>Резервуар не вставлен.</i></span></div>
	<div class="item">&nbsp;</div>
{{/if}}


<h3>Состояние выпускного клапана</h3>
<div class="item">
	<div class="itemLabel">
		Давление выпуска:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.releasePressure, data.minReleasePressure, data.maxReleasePressure)}}
		<div style="clear: both; padding-top: 4px;">
			{{:helper.link('-', null, {'pressure_adj' : -1000}, (data.releasePressure > data.minReleasePressure) ? null : 'disabled')}}
			{{:helper.link('-', null, {'pressure_adj' : -100}, (data.releasePressure > data.minReleasePressure) ? null : 'disabled')}}
			{{:helper.link('-', null, {'pressure_adj' : -10}, (data.releasePressure > data.minReleasePressure) ? null : 'disabled')}}
			{{:helper.link('-', null, {'pressure_adj' : -1}, (data.releasePressure > data.minReleasePressure) ? null : 'disabled')}}
			<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:data.releasePressure}} kPa&nbsp;</div>
			{{:helper.link('+', null, {'pressure_adj' : 1}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
			{{:helper.link('+', null, {'pressure_adj' : 10}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
			{{:helper.link('+', null, {'pressure_adj' : 100}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
			{{:helper.link('+', null, {'pressure_adj' : 1000}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
		</div>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Выпускной клапан:
	</div>
	<div class="itemContent">
		{{:helper.link('Открыт', 'unlocked', {'toggle' : 1}, data.valveOpen ? 'selected' : null)}}{{:helper.link('Закрыт', 'locked', {'toggle' : 1}, data.valveOpen ? null : 'selected')}}
	</div>
</div>

