<!-- 
	Interface for guest pass
	See: code/game/machinery/computer/guestpass.dm
-->

{{if data.mode == 1}}
	<div class='item'>
		<div class='itemContent'>
			<b>Журнал активности</b>
		</div> 
		{{:helper.link('Печать', 'print', {'print' : 1})}} {{:helper.link('Назад', 'arrowreturn-1-w', {'mode' : 0})}}
	</div>
	<hr>
	{{for data.log}}
		<div class='item'>
			{{:value}}
		</div>
	{{/for}}
{{else}}
	<h3>Гостевой пропускной терминал #{{:data.uid}}</h3>
	<div class='item'>
		{{:helper.link('Посмотреть журнал активности', 'list', {'mode' : 1})}} {{:helper.link('Выдать пропуск', 'eject', {'action' : 'issue'})}}
	</div>
	<hr>
	<div class='item'>
		<div class='itemLabelWide'>
			Выдает: 
		</div>
		{{:helper.link(data.giver ? data.giver : 'Insert ID', 'person', {'action' : 'id'})}}
	</div>
	<div class='item'>
		<div class='itemLabelWide'>
			Кому выдано: 
		</div>
		{{:helper.link(data.giveName, 'pencil', {'choice' : 'giv_name'})}}
	</div>
	<div class='item'>
		<div class='itemLabelWide'>
			Причина: 
		</div>
		{{:helper.link(data.reason, 'pencil', {'choice' : 'reason'})}}
	</div>
	<div class='item'>
		<div class='itemLabelWide'>
			Длительность (минуты): 
		</div>
		{{:helper.link(data.duration, 'clock', {'choice' : 'duration'})}}
	</div>
	<div class='item'>
		<div class='itemLabelWide'>
			Доступ в зоны: 
		</div>
	</div>
	{{for data.area}}
		<div class='item'>
			{{:helper.link(value.area_name, value.on ? 'check' : 'close', {'choice' : 'access', 'access' : value.area}, null, value.on ? 'linkOn' : null)}}
		</div>
	{{/for}}
{{/if}}