{{if data.have_id_slot}}
	{{:helper.link('Модификация доступа', 'home', {'action' : 'switchm', 'target' : 'mod'}, data.mmode ? 'disabled' : null)}}
{{/if}}

{{:helper.link('Журнал экипажа', 'folder-open', {'action' : 'switchm', 'target' : 'manifest'}, !data.mmode ? 'disabled' : null)}}

{{if data.have_printer}}
	{{:helper.link('Печать', 'print', {'action' : 'print'}, (!data.mmode || data.has_id) ? null : 'disabled')}}
{{/if}}

{{if !data.mmode}}
	<div class='item'>
		<h2>Журнал экипажа</h2>
	</div>
	
	<div class='item'>
		{{:data.manifest}}
	</div>
	
{{else}}
	<div class='item'>
		<h2>Модификация доступа</h2>
	</div>

	{{if !data.has_id}}
		<span class='alert'><i>Пожалуйста, вставьте ID карту в терминал, чтобы продолжить.</i></span><br>
	{{/if}}

	<div class='item'>
		<div class='itemLabel'>
			Цель авторизации:
		</div>
		<div class='itemContent'>
			{{:helper.link(data.id_name, 'eject', {'action' : 'eject'})}}
		</div>
	</div>
	<hr>

	{{if data.authenticated}}
		{{if data.has_id}}
			<div class='item'>
				<h2>Детали</h2>
			</div>
			
			<div class='item'>
				<div class='itemLabel'>
					Зарегистрированное имя:
				</div>
				
				<div class='itemContent'>
					{{:helper.link(data.id_owner, 'pencil', {'action' : 'edit', 'name' : 1})}}
				</div>
			</div>
			
			<div class='item'>
				<div class='itemLabel'>
					Номер аккаунта:
				</div>
				
				<div class='itemContent'>
					{{:helper.link(data.id_account_number, 'pencil', {'action' : 'edit', 'account' : 1})}}
				</div>
			</div>
			
			<div class='item'>
				<!-- VOREStation Edit Start -->
				<div class='itemLabel'>
					Увольнения:
				</div>
				
				<div class='itemContent'>
					{{:helper.link('Dismiss ' + data.id_owner, 'gear', {'action' : 'terminate'}, data.id_rank == "Terminated" ? 'disabled' : null, data.id_rank == "Dismissed" ? 'disabled' : 'linkDanger')}}
				</div>
				<!-- VOREStation Edit End -->
			</div>
			
			<div class='item'>
				<h2>Назначение</h2>
			</div>
			
			{{:helper.link(data.assignments ? "Скрыть назначения" : "Показ. назначения", 'gear', {'action' : 'togglea'})}}
			
			<div class='item'>
				<span id='allvalue.jobsslot'>
					
				</span>
			</div>
			
			<div class='item'>
				{{if data.assignments}}
					<div id="all-value.jobs">
						<table>
							{{for data.departments}}
								<tr>
									<th>{{:value.department_name}}</th>
									<td>
										{{for value.jobs :jobValue:jobIndex}}
											{{:helper.link(jobValue.display_name, '', {'action' : 'assign', 'assign_target' : jobValue.job}, data.id_rank == jobValue.job ? 'disabled' : null)}}
										{{/for}}
									</td>
								</tr>
							{{/for}}
							<tr>
								<th>Special</th>
								<td>
									{{:helper.link("Custom", '', {'action' : 'assign', 'assign_target' : 'Custom'})}}
								</td>
							</tr>
						</table>
					</div>
				{{/if}}
			</div>
			
			{{if data.centcom_access}}
				<div class='item'>
					<h2>Цент. комманд.</h2>
				</div>
				<div class='item' style='width: 100%'>
					{{for data.all_centcom_access}}
						<div class='itemContentWide'>
							{{:helper.link(value.desc, '', {'action' : 'access', 'access_target' : value.ref, 'allowed' : value.allowed}, null, value.allowed ? 'selected' : null)}}
						</div>
					{{/for}}
				</div>
			{{else}}
				<div class='item'>
					<h2>{{:data.station_name}}</h2>
				</div>
				<div class='item' style='width: 100%'>
					{{for data.regions}}
						<div style='float: left; width: 175px; min-height: 250px'>
							<div class='average'><b>{{:value.name}}</b></div>
							{{for value.accesses :accessValue:accessKey}}
								<div class='itemContentWide'>
									{{:helper.link(accessValue.desc, '', {'action' : 'access', 'access_target' : accessValue.ref, 'allowed' : accessValue.allowed}, null, accessValue.allowed ? 'selected' : null)}}
								</div>
							{{/for}}
						</div>
					{{/for}}
				</div>
			{{/if}}
		{{/if}}
	{{/if}}
{{/if}}
