<!-- 
Title: Basic Radio UI
Used In File(s): /code/game/objects/item/devices/radio/radio.dm
-->
<head>
	<style type="text/css">
		.radio					{color: #008000;}
		.deptradio				{color: #993399;}
		.comradio				{color: #395A9A;}
		.syndradio				{color: #6D3F40;}
		.centradio				{color: #5C5C8A;}
		.airadio				{color: #FF00FF;}
		.secradio				{color: #A30000;}
		.engradio				{color: #A66300;}
		.medradio				{color: #008160;}
		.sciradio				{color: #993399;}
		.supradio				{color: #7F6539;}
		.srvradio				{color: #6eaa2c;}
	</style>
</head>



{{if data.useSyndMode}}
	{{:helper.syndicateMode()}}
{{/if}}

<div class="item">
	<div class="itemLabelWide">
		Микрофон
	</div>
	<div class="itemContentMedium">
		{{if data.mic_cut}}
			{{:helper.link('Вкл', null, null, 'disabled')}}
			{{:helper.link('Выкл', null, null, 'disabled')}}
		{{else}}
			{{:helper.link('Вкл', null, {'talk' : 0}, data.mic_status ? 'selected' : null)}}
			{{:helper.link('Выкл', null, {'talk' : 1}, data.mic_status ? null : 'selected')}}
		{{/if}}
	</div>
</div>

<div class="item">
	<div class="itemLabelWide">
		Динамик
	</div>
	<div class="itemContentMedium">
		{{if data.spk_cut}}
			{{:helper.link('Вкл', null, null, 'disabled')}}
			{{:helper.link('Выкл', null, null, 'disabled')}}
		{{else}}
			{{:helper.link('Вкл', null, {'listen' : 0}, data.speaker ? 'selected' : null)}}
			{{:helper.link('Выкл', null, {'listen' : 1}, data.speaker ? null : 'selected')}}
		{{/if}}
	</div>
</div>

{{if data.has_subspace}}
	<div class="item">
		<div class="itemLabelWide">
			Подространственная связь:
		</div>
		<div class="itemContentMedium">
			{{:helper.link('Вкл', null, {'mode' : 1}, data.subspace ? 'selected' : null)}}
			{{:helper.link('Выкл', null, {'mode' : 0}, data.subspace ? null : 'selected')}}
		</div>
	</div>
{{/if}}
		
{{if data.has_loudspeaker}}
	<div class="item">
		<div class="itemLabelWide">
			Громкоговоритель:
		</div>
		<div class="itemContentMedium">
			{{:helper.link('Вкл', null, {'shutup' : 0}, data.loudspeaker ? 'selected' : null)}}
			{{:helper.link('Выкл', null, {'shutup' : 1}, data.loudspeaker ? null : 'selected')}}
		</div>
	</div>
{{/if}}

<div class="item">
	<div class="itemLabelWide">
		Частота: {{:data.freq}}
	</div>
	<div class="itemContentMedium">
		{{:helper.link('--', null, {'freq' : -10})}}
		{{:helper.link('-', null, {'freq' : -2})}}
		{{:helper.link('+', null, {'freq' : 2})}}
		{{:helper.link('++', null, {'freq' : 10})}}
	</div>
</div>

{{if data.chan_list_len >= 1}}
	<h3>Каналы</h3>
	<div class="item">
	{{for data.chan_list}}
		<div class="itemLabelWide">
			<span class='{{:value.chan_span}}'>&#9724</span>{{:value.display_name}}
		</div>
		<div class="itemContentMedium">
			{{if value.secure_channel}}
				{{:helper.link('Вкл', null, {'ch_name' : value.chan, 'listen' : value.sec_channel_listen}, value.sec_channel_listen ? null : 'selected')}}
				{{:helper.link('Выкл', null, {'ch_name' : value.chan, 'listen' : value.sec_channel_listen}, value.sec_channel_listen ? 'selected' : null)}}
			{{else}}
				{{:helper.link('Сменить', null, {'spec_freq' : value.chan}, data.rawfreq == value.chan ? 'selected' : null)}}
			{{/if}}
		</div>
	{{/for}}
{{/if}}
