<!--
Title: Security Camera Console (Map header)
Used In File(s): \code\game\machinery\computer\camera.dm
-->
{{:helper.link('Показ. список камер', 'script', {'showMap' : 0})}}
{{:helper.link('Сброс', 'refresh', {'reset' : 1})}}
<div style="float:left;">
    <div class='item'>
        <div class='itemLabel'>Текущая камера:&nbsp;</div>
        {{if data.current_camera}}
            <div class='itemContent'><b>{{:data.current_camera.name}}</b></div>
        {{else}}
            <div class='itemContent'>Нет</div>
        {{/if}}
    </div>
</div>
{{if data.map_levels.length > 1}}
<div style="float: right;">
    <span style="float: left;">Z Уровень:&nbsp;</span>
    {{for data.map_levels }}
        {{:helper.link(value, null, {'mapZLevel' : value}, null, config.mapZLevel == value ? 'selected' : null)}}
    {{/for}}
</div>
{{/if}}
<div style="float: right; width: 240px;">
    <span style="float: left;">Приближение:&nbsp;</span>
    <div unselectable="on" class="link zoomLink" data-zoom-level="4">x1.0</div>
    <div unselectable="on" class="link zoomLink" data-zoom-level="6">x1.5</div>
    <div unselectable="on" class="link zoomLink" data-zoom-level="8">x2.0</div>
    <div unselectable="on" class="link zoomLink" data-zoom-level="12">x2.5</div>
</div>
</div>
<div class='item'>
	<div class='itemLabel'>Сеть:</div>
</div>
{{for data.networks}}
	{{:helper.link(value, '', {'switch_network' : value}, null, data.current_network == value ? 'selected' : null)}}
{{/for}}