<!--
Title: Управление камерами СБ (Main content)
Used In File(s): \code\game\machinery\computer\camera.dm
 -->
{{if data.map_levels.length}}
	{{:helper.link('Показ. карту', 'pin-s', {'showMap' : 1})}}
{{/if}}
{{:helper.link('Сброс', 'refresh', {'reset' : 1})}}
<div style="float:left;">
    <div class='item'>
        <div class='itemLabel'>Текущая&nbsp;Camera:&nbsp;</div>
        <br>
        {{if data.current_camera}}
            <div class='itemContent'><b>{{:data.current_camera.name}}</b></div>
        {{else}}
            <div class='itemContent'>Нет</div>
        {{/if}}
    </div>
</div>
<div class='item'>
	<div class='itemLabel'>Сеть:</div>
</div>
{{for data.networks}}
	{{:helper.link(value, '', {'switch_network' : value}, null, data.current_network == value ? 'selected' : null)}}
{{/for}}
<div class='item'>
	<div class='itemLabel'>Камеры:</div>
</div>
{{for data.cameras}}
	{{if data.current_camera && value.name == data.current_camera.name}}
		{{:helper.link(value.name, '', {'switch_camera' : value.camera}, 'selected')}}
	{{else value.deact}}
		{{:helper.link(value.name + " (deactivated)", '', {}, 'inactive')}}
	{{else}}
		{{:helper.link(value.name, '', {'switch_camera' : value.camera})}}
	{{/if}}
{{/for}}
