{{if data.coredumped}}
	<div class='item'>
			<span class='bad'>Дапм ТрансКора завершен. Диск извлечен.</span>
	</div>
{{else data.emergency}}
	<div class='item'>
			<span class='bad'>!!ВНИМАНИЕ!!<br>Дамп Диск вставлен! Это перенесет разум на дамп диск, и ТрансКор будет недоступен до тех пор, пока не будет произведено техническое обслуживание после смены! Следует использовать только в чрезвычайных ситуациях!</span><br>
	</div>
	{{:helper.link('ДАМП ЯДРА', 'radiation', {'coredump' : data.emergency}, null, 'redButton')}}
	{{:helper.link('Извлечь диск', 'eject', {'ejectdisk' : data.emergency})}}
{{else}}
	<b>{{:data.temp}}</b>

	<!-- Menu1: Main Menu -->
	{{if data.menu == 1}}
		<h3>Контроль Ресливера</h3>
		<div class='item'>
		</div>
		
		<div class='item'>
		{{if data.podsLen > 0}}
			<span class='good'>Найдено Чанов выращивания: {{:data.podsLen}}</span>
		{{/if}}
		</div>
		
		<div class='item'>
		{{if data.spodsLen > 0}}
			<span class='good'>Найдено СинтФабрикаторов: {{:data.spodsLen}}</span>
		{{/if}}
		</div>
		
		<div class='item'>
		{{if data.sleeversLen > 0}}
			<span class='good'>Найдено Подов Ресливера: {{:data.sleeversLen}}</span>
		{{/if}}
		</div>
		
		{{if data.podsLen}}
			{{for data.pods}}
				<div class='item'>{{:value.pod}}, биомасса: <i>{{:value.biomass}}</i></div>
			{{/for}}
		{{/if}}
		
		{{if data.spodsLen}}
			{{for data.spods}}
				<div class='item'>{{:value.spod}}, S/G: <i>{{:value.steel}}/{{:value.glass}}</i></div>
			{{/for}}
		{{/if}}

		{{if data.sleeversLen}}
			{{for data.sleevers}}
				<div class='item'>{{:value.sleever}}, occupant: <i>{{:value.occupant}}</i></div>
			{{/for}}
		{{/if}}
		
		<!-- Database -->
		<h3>Функции БД</h3>
		<div class='item'>
			{{:helper.link('Просмотр записей тел', 'list', {'menu' : 2})}}
		</div>
		<div class='item'>
			{{:helper.link('Просмотр записей сознаний', 'list', {'menu' : 3})}}
		</div>

	<!-- Menu2: Body record list -->	
	{{else data.menu == 2}}
		<h3>Текущие записи тела</h3>
		{{:helper.link('Назад', 'arrowreturn-1-w', {'menu' : 1})}}
		<div class='item'>
			{{for data.bodyrecords}}
				{{:helper.link(value.name, 'document', {'view_brec' : value.recref})}}
			{{/for}}
		</div>

	<!-- Menu3: Mind record list -->
	{{else data.menu == 3}}
		<h3>Текущие записи сознаний</h3>
		{{:helper.link('Назад', 'arrowreturn-1-w', {'menu' : 1})}}
		<div class='item'>
			{{for data.mindrecords}}
				{{:helper.link(value.name, 'document', {'view_mrec' : value.recref})}}
			{{/for}}
		</div>	

	<!-- Menu4: Specific body record -->
	{{else data.menu == 4}}
		<h3>Запись по выбранному телу</h3>
		<div class='item'>{{:helper.link('Назад', 'arrowreturn-1-w', {'menu' : 2})}}</div>

		{{if data.activeBodyRecord}}
			<div class='item'>
				<div class='itemLabel'>Имя:</div>
				<div class='itemContent'>{{:data.activeBodyRecord.real_name}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Раса:</div>
				<div class='itemContent'>{{:data.activeBodyRecord.speciesname}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Био. Пол:</div>
				<div class='itemContent'>{{:data.activeBodyRecord.gender}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Совместимость сознания.:</div>
				<div class='itemContent'>{{:data.activeBodyRecord.locked}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Синтетика:</div>
				<div class='itemContent'>{{:data.activeBodyRecord.synthetic}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>OOC Заметки:</div>
				<div class='itemContent'>{{:helper.link('Просмотр', null, {'boocnotes' : data.activeBodyRecord.booc}, data.activeBodyRecord.booc ? null : 'linkOff')}}</div>
			</div>

			{{:helper.link('Создать', 'play', {'create' : data.activeBodyRecord.real_name}, data.activeBodyRecord.cando ? null : 'linkOff')}}
			
		{{else}}
			<div class='item bad'>Ошибка: запись не найдена.</div>
		{{/if}}

	<!-- Menu5: Specific mind record -->	
	{{else data.menu == 5}}
		<h3>Выбранная запись сознания</h3>
		<div class='item'>{{:helper.link('Назад', 'arrowreturn-1-w', {'menu' : 3})}}</div>

		{{if data.activeMindRecord}}
			<div class='item'>
				<div class='itemLabel'>Имя:</div>
				<div class='itemContent'>{{:data.activeMindRecord.charname}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Статус копии:</div>
				<div class='itemContent'>{{:data.activeMindRecord.obviously_dead}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>OOC Заметки:</div>
				<div class='itemContent'>{{:helper.link('Просмотр', null, {'moocnotes' : data.activeMindRecord.mooc}, data.activeMindRecord.mooc ? null : 'linkOff')}}</div>
			</div>
			{{:helper.link('Sleeve', 'play', {'sleeve' : 1}, data.activeMindRecord.cando ? null : 'linkOff')}}
			{{:helper.link('Карта', 'play', {'sleeve' : 2}, data.activeMindRecord.cando ? null : 'linkOff')}}
			
		{{else}}
			<div class='item bad'>Ошибка: запись не найдена.</div>
		{{/if}}
	
	<!-- Menu6: Body OOC Notes -->	
	{{else data.menu == 6}}
		<h3>OOC Заметки тела (Это OOC!)</h3>
		<div class='item'>{{:helper.link('Назад', 'arrowreturn-1-w', {'menu' : 4})}}</div>
		{{if data.activeBodyRecord}}
			<div class='itemLabel'>Заметки:</div>
			<div class='itemContent multiLine'>{{:data.activeBodyRecord.booc}}</div>
		{{else}}
			<div class='item bad'>Ошибка: запись не найдена.</div>
		{{/if}}
		
	<!-- Menu7: Mind OOC Notes -->	
	{{else data.menu == 7}}
		<h3>OOC Заметки сознания (Это OOC!)</h3>
		<div class='item'>{{:helper.link('Назад', 'arrowreturn-1-w', {'menu' : 5})}}</div>
		{{if data.activeMindRecord}}
			<div class='itemLabel'>Заметки:</div>
			<div class='itemContent multiLine'>{{:data.activeMindRecord.mooc}}</div>
		{{else}}
			<div class='item bad'>Ошибка: запись не найдена.</div>
		{{/if}}

	{{/if}}
{{/if}}